In [67]:
# Variables
name = "Saniya" 
age = 19
fl = 9.999
print(age)
print(name)
print(fl)

19
Saniya
9.999

In [68]:
# Numeric Data Types
# Integer
a = 10  
# Float
b = 20.5  
# Complex Number
c = 3 + 4j

In [69]:
# String Data Type
text = "Hello, Python!"
print(text)
print(text[0])
print(text[-1])
print(text[0:5])
print(text.upper())
print(text.lower())

Hello, Python!
H
!
Hello
HELLO, PYTHON!
hello, python!

In [70]:
# Boolean Type
is_valid = True
is_invalid = False
print(type(is_valid))
print(5 > 3)
print(5 < 3)

<class 'bool'>
True
False

In [71]:
# List (Mutable Ordered Collection)
fruits = ["Apple", "Banana", "Cherry"]
print(fruits[1])   
fruits.append("Orange")
print(fruits)

Banana
['Apple', 'Banana', 'Cherry', 'Orange']

In [72]:
# Tuple (Immutable Ordered Collection)
colors = ("Red", "Green", "Blue")
print(colors)
print(colors[0])

('Red', 'Green', 'Blue')
Red

In [73]:
# Set (Unordered Collection with Unique Elements)
unique_numbers = {1, 2, 3, 3, 4, 5}
print(unique_numbers)

{1, 2, 3, 4, 5}

In [74]:
# Dictionary (Key-Value Pairs)
student = {"name": "Saniya", "age": 19, "course": "Data Science"}
print(student["name"])  
student["age"] = 20    
print(student)

Saniya
{'name': 'Saniya', 'age': 20, 'course': 'Data Science'}

In [75]:
# Conditional Statements (if-elif-else)
age = 20

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

In [76]:
# For Loop
# Looping through a list
fruits = ["Apple", "Banana", "Cherry"]
i = ["1","2","3"]
for i,fruit in zip(i,fruits):
  print(fruit)

Apple
Banana
Cherry

In [77]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [78]:
for number in range(1, 20, 2):
  print(number)

1
3
5
7
9
11
13
15
17
19

In [79]:
for number in range(10, -1, -1):
  print(number)

10
9
8
7
6
5
4
3
2
1
0

In [80]:
for number in range(10, -1, -2):
  print(number)

10
8
6
4
2
0

In [81]:
# WAP to print Natural numbers (i.e. 1, 2, 3, â€¦). Take the input from the user to limit the numbers.

end_limit = int(input("Enter the end limit for the natural number: "))
print(f"The given end limit is : {end_limit}")
print(f"THe data type of this variable is {type(end_limit)}")

print("The Natural numbers as per the  given limit is")
for number in range(end_limit+1):
  print(number)

The given end limit is : 10
THe data type of this variable is <class 'int'>
The Natural numbers as per the  given limit is
0
1
2
3
4
5
6
7
8
9
10

In [82]:
# While Loop
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [83]:
# Break Statement
for num in range(1, 10):
    if num == 5:
        break  # Stops the loop when num is 5
    print(num)

1
2
3
4

In [84]:
# Continue Statement
for num in range(1, 6):
    if num == 3:
        continue  # Skips number 3
    print(num)

1
2
4
5

In [85]:
# Pass Statement
for num in range(1, 6):
    if num == 3:
        pass  # Does nothing, used as a placeholder
    print(num)

1
2
3
4
5

In [86]:
# Defining a Function
def greet(name):
    return f"Hello, {name}!"
print(greet("Saniya"))

Hello, Saniya!

In [87]:
# Function with Default Parameter
def greet(name="Guest"):
    return f"Hello, {name}!"

print(greet())         
print(greet("Saniya"))

Hello, Guest!
Hello, Saniya!

In [88]:
# Lambda Function
square = lambda x: x * x
print(square(5))

25