<a href="https://colab.research.google.com/github/shsaniya04/Learn-Machine-Learning/blob/main/01_Read_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Libraries**

In [51]:
import pandas as pd

**Load CSV dataset**

In [52]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/hotel_bookings.csv').head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,no,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,no,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,no,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,no,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,no,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015
5,Resort Hotel,no,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015
6,Resort Hotel,no,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,7/3/2015
7,Resort Hotel,no,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,7/3/2015
8,Resort Hotel,yes,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,5/6/2015
9,Resort Hotel,yes,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,4/22/2015

**Opening a csv file from an URL**

In [53]:
import requests
from io import StringIO
url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data).head(10)

                    Country  Region
0                   Algeria  AFRICA
1                    Angola  AFRICA
2                     Benin  AFRICA
3                  Botswana  AFRICA
4                   Burkina  AFRICA
5                   Burundi  AFRICA
6                  Cameroon  AFRICA
7                Cape Verde  AFRICA
8  Central African Republic  AFRICA
9                      Chad  AFRICA

**Sep Parameter**

Separate parameter used to separate data in tsv file.

In [54]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/movie_titles_metadata.tsv').head(10)

  m0\t10 things i hate about you\t1999\t6.90\t62847\t['comedy' 'romance']
0  m1\t1492: conquest of paradise\t1992\t6.20\t10...
1  m2\t15 minutes\t2001\t6.10\t25854\t['action' '...
2  m3\t2001: a space odyssey\t1968\t8.40\t163227\...
3  m4\t48 hrs.\t1982\t6.90\t22289\t['action' 'com...
4  m5\tthe fifth element\t1997\t7.50\t133756\t['a...
5  m6\t8mm\t1999\t6.30\t48212\t['crime' 'mystery'...
6  m7\ta nightmare on elm street 4: the dream mas...
7  m8\ta nightmare on elm street: the dream child...
8  m9\tthe atomic submarine\t1959\t4.90\t513\t['s...
9  m10\taffliction\t1997\t6.90\t7252\t['drama' 'm...

In [55]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/movie_titles_metadata.tsv',sep = '\t').head(10)

,m0,10 things i hate about you,1999,6.90,62847,['comedy' 'romance']
0,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
1,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
2,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
3,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
4,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
5,m6,8mm,1999,6.3,48212.0,['crime' 'mystery' 'thriller']
6,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590.0,['fantasy' 'horror' 'thriller']
7,m8,a nightmare on elm street: the dream child,1989,4.7,11092.0,['fantasy' 'horror' 'thriller']
8,m9,the atomic submarine,1959,4.9,513.0,['sci-fi' 'thriller']
9,m10,affliction,1997,6.9,7252.0,['drama' 'mystery' 'thriller']

In [56]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/movie_titles_metadata.tsv',sep = '\t',names = ['sno','name','relese_year','rating','votes','genres']).head(10)

,sno,name,relese_year,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
5,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...
6,m6,8mm,1999,6.3,48212.0,['crime' 'mystery' 'thriller']
7,m7,a nightmare on elm street 4: the dream master,1988,5.2,13590.0,['fantasy' 'horror' 'thriller']
8,m8,a nightmare on elm street: the dream child,1989,4.7,11092.0,['fantasy' 'horror' 'thriller']
9,m9,the atomic submarine,1959,4.9,513.0,['sci-fi' 'thriller']

**index_col parameter**

index_col parameter sets one or more columns as the DataFrame index.

In [57]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv').head(10)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
5,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
8,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
9,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0

In [58]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', index_col = 'enrollee_id').head(10)

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
enrollee_id,,,,,,,,,,,,,
8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0

**Header parameter**

header = 1: This is the important part for this question. The header parameter tells pd.read_csv() which row in the CSV file should be used as the header (column names) for the DataFrame.

By default, header=0, meaning the first row of the CSV is used as the header.

In [59]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', header = 1)

,8949,city_103,0.92,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,Unnamed: 9,Unnamed: 10,1,36,1.0
0,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
1,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
2,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
3,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
4,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19152,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19153,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19154,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19155,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19156,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

**Usecols / Squeeze Parameter**

usecols=['gender']: This argument is key. It tells pd.read_csv to only read the column named 'gender' from the file. By specifying a list of column names here, you can control which data is loaded into your DataFrame, making the process more efficient if you only need a subset of the data.

In [60]:
# pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', usecols = ['gender'], squeeze = True)
# Remove the 'squeeze' argument. This will return a DataFrame instead of a Series.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', usecols=['gender'])

# If you need a Series, you can convert the 'gender' column after reading the DataFrame.
gender_series = df['gender']

In [61]:
gender_series.head(10)

0    Male
1    Male
2     NaN
3     NaN
4    Male
5     NaN
6    Male
7    Male
8    Male
9     NaN
Name: gender, dtype: object

In [62]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', usecols=['enrollee_id','gender','education_level'])
df.head(10)

   enrollee_id gender education_level
0         8949   Male        Graduate
1        29725   Male        Graduate
2        11561    NaN        Graduate
3        33241    NaN        Graduate
4          666   Male         Masters
5        21651    NaN        Graduate
6        28806   Male     High School
7          402   Male        Graduate
8        27107   Male        Graduate
9          699    NaN        Graduate

**Skiprows / nrows Parameter**

In [63]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', skiprows = [0,1])
df.head(10)

,29725,city_40,0.7759999999999999,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
0,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
1,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
2,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
3,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
4,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
5,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
6,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
7,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0
8,29452,city_21,0.624,NaN,No relevent experience,Full time course,High School,NaN,2,NaN,NaN,never,32,1.0
9,23853,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,5000-9999,Pvt Ltd,1,108,0.0

In [64]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', nrows = 10)
df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
5,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
8,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
9,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0

**Encoding parameter**

In [65]:

# pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/zomato.csv')

In [66]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/zomato.csv', encoding = 'latin-1').head(10)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
5,18189371,Din Tai Fung,162,Mandaluyong City,"Ground Floor, Mega Fashion Hall, SM Megamall, ...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056314,14.583764,Chinese,...,Botswana Pula(P),No,No,No,No,3,4.4,Green,Very Good,336
6,6300781,Buffet 101,162,Pasay City,"Building K, SM By The Bay, Sunset Boulevard, M...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979667,14.531333,"Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.0,Green,Very Good,520
7,6301290,Vikings,162,Pasay City,"Building B, By The Bay, Seaside Boulevard, Mal...","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay Cit...",120.979333,14.540000,"Seafood, Filipino, Asian, European",...,Botswana Pula(P),Yes,No,No,No,4,4.2,Green,Very Good,677
8,6300010,Spiral - Sofitel Philippine Plaza Manila,162,Pasay City,"Plaza Level, Sofitel Philippine Plaza Manila, ...","Sofitel Philippine Plaza Manila, Pasay City","Sofitel Philippine Plaza Manila, Pasay City, P...",120.980090,14.552990,"European, Asian, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.9,Dark Green,Excellent,621
9,6314987,Locavore,162,Pasig City,"Brixton Technology Center, 10 Brixton Street, ...",Kapitolyo,"Kapitolyo, Pasig City",121.056532,14.572041,Filipino,...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,532

**Skip bad lines**

In [67]:

# pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/zomato.csv', address = ';',encoding = 'latin-1',error_bad_lines = False).head(10)

**Data Type Parameter**

In [68]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [69]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', dtype = {'target' : int}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

**Handling Dates**

In [70]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/IPL Matches 2008-2020.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [71]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/IPL Matches 2008-2020.csv',parse_dates=['date']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    datetime64[ns]
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 108.5+ KB

**Converter parameter**

In [72]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/IPL Matches 2008-2020.csv').head(10)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba

In [73]:
def rename(name):
  if name == "Royal Challengers Bangalore":
    return "RCB"
  else:
    return name

# IN: rename("Royal Challengers Bangalore")
# OUT: 'RCB'

pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/IPL Matches 2008-2020.csv',converters={'team1':rename})

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,RCB,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,RCB,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,RCB,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

**na_value parameter**

In [74]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv').head(10)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
5,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
8,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
9,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0

In [75]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv',na_values =['Male']).head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,NaN,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,NaN,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

**Loading a huge dataset in chunks**

In [76]:
pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv').head(10)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
5,21651,city_176,0.764,NaN,Has relevent experience,Part time course,Graduate,STEM,11,NaN,NaN,1,24,1.0
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,NaN,5,50-99,Funded Startup,1,24,0.0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
8,27107,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,7,50-99,Pvt Ltd,1,46,1.0
9,699,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,0.0

In [77]:
dfs = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/aug_train.csv', chunksize = 5000)

In [78]:
for chunk in dfs:
  print(chunk)

      enrollee_id      city  city_development_index  gender  \
0            8949  city_103                   0.920    Male
1           29725   city_40                   0.776    Male
2           11561   city_21                   0.624     NaN
3           33241  city_115                   0.789     NaN
4             666  city_162                   0.767    Male
...           ...       ...                     ...     ...
4995         7892   city_21                   0.624  Female
4996        19768   city_21                   0.624    Male
4997        33180   city_16                   0.910    Male
4998        13215  city_103                   0.920  Female
4999         2386   city_21                   0.624    Male

          relevent_experience enrolled_university education_level  \
0     Has relevent experience       no_enrollment        Graduate
1      No relevent experience       no_enrollment        Graduate
2      No relevent experience    Full time course        Graduate
3      No relevent experience                 NaN        Graduate
4     Has relevent experience       no_enrollment         Masters
...                       ...                 ...             ...
4995  Has relevent experience       no_enrollment        Graduate
4996   No relevent experience       no_enrollment        Graduate
4997   No relevent experience       no_enrollment     High School
4998  Has relevent experience       no_enrollment        Graduate
4999  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size    company_type last_new_job  \
0                STEM        >20          NaN             NaN            1
1                STEM         15        50-99         Pvt Ltd           >4
2                STEM          5          NaN             NaN        never
3     Business Degree         <1          NaN         Pvt Ltd        never
4                STEM        >20        50-99  Funded Startup            4
...               ...        ...          ...             ...          ...
4995             STEM          3      100-500             NaN            1
4996             STEM          3      100-500         Pvt Ltd            1
4997              NaN        >20    5000-9999         Pvt Ltd           >4
4998             STEM         10       10000+         Pvt Ltd           >4
4999             STEM          2    5000-9999         Pvt Ltd            2

      training_hours  target
0                 36     1.0
1                 47     0.0
2                 83     0.0
3                 52     1.0
4                  8     0.0
...              ...     ...
4995             114     1.0
4996              64     1.0
4997              89     0.0
4998              20     1.0
4999              16     0.0

[5000 rows x 14 columns]
      enrollee_id      city  city_development_index  gender  \
5000        18582   city_83                   0.923    Male
5001        25222  city_159                   0.843     NaN
5002         5697   city_61                   0.913  Female
5003         5172   city_21                   0.624    Male
5004         1815   city_27                   0.848    Male
...           ...       ...                     ...     ...
9995        27017   city_73                   0.754   Other
9996         7559  city_103                   0.920    Male
9997        12332  city_103                   0.920    Male
9998         3974  city_102                   0.804    Male
9999        13267   city_75                   0.939    Male

          relevent_experience enrolled_university education_level  \
5000  Has relevent experience       no_enrollment         Masters
5001  Has relevent experience       no_enrollment        Graduate
5002  Has relevent experience       no_enrollment        Graduate
5003   No relevent experience    Full time course        Graduate
5004  Has relevent experience       no_enrollment         Masters
...                       ...                 ...             ...
9995   No relevent experience       no_enrollment        Graduate
9996  Has relevent experience       no_enrollment        Graduate
9997   No relevent experience    Full time course        Graduate
9998  Has relevent experience    Full time course         Masters
9999  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size   company_type last_new_job  \
5000             STEM          9       10000+        Pvt Ltd            4
5001             STEM          7          <10        Pvt Ltd            1
5002             STEM        >20      100-500            NaN            1
5003             STEM          3          NaN            NaN        never
5004             STEM         18       10000+        Pvt Ltd           >4
...               ...        ...          ...            ...          ...
9995             STEM         <1          NaN            NaN        never
9996             STEM          4        50-99        Pvt Ltd            1
9997             STEM          2          NaN            NaN            1
9998             STEM          7       10000+  Public Sector            1
9999             STEM          9          NaN        Pvt Ltd            1

      training_hours  target
5000             170     0.0
5001             107     0.0
5002               9     0.0
5003              38     1.0
5004              17     1.0
...              ...     ...
9995               7     0.0
9996              42     0.0
9997              12     0.0
9998               2     1.0
9999              40     0.0

[5000 rows x 14 columns]
       enrollee_id      city  city_development_index  gender  \
10000        23427   city_24                   0.698     NaN
10001        17605   city_50                   0.896     NaN
10002        20912   city_73                   0.754     NaN
10003        13948  city_114                   0.926    Male
10004        15205  city_160                   0.920    Male
...            ...       ...                     ...     ...
14995         1305  city_103                   0.920    Male
14996        10310  city_103                   0.920  Female
14997        10689   city_21                   0.624     NaN
14998          605   city_16                   0.910    Male
14999        14587   city_16                   0.910    Male

           relevent_experience enrolled_university education_level  \
10000   No relevent experience                 NaN     High School
10001   No relevent experience       no_enrollment        Graduate
10002   No relevent experience    Full time course        Graduate
10003   No relevent experience       no_enrollment             Phd
10004   No relevent experience    Full time course     High School
...                        ...                 ...             ...
14995  Has relevent experience       no_enrollment        Graduate
14996  Has relevent experience       no_enrollment         Masters
14997  Has relevent experience    Full time course        Graduate
14998  Has relevent experience       no_enrollment        Graduate
14999  Has relevent experience       no_enrollment         Masters

      major_discipline experience company_size         company_type  \
10000              NaN          8          NaN                  NaN
10001             STEM        >20          NaN                  NaN
10002             STEM          5          NaN                  NaN
10003             STEM        >20       10000+              Pvt Ltd
10004              NaN          7      100-500              Pvt Ltd
...                ...        ...          ...                  ...
14995             Arts          9          <10                  NGO
14996             STEM         15    1000-4999              Pvt Ltd
14997            Other          5      100-500  Early Stage Startup
14998             STEM         11    5000-9999              Pvt Ltd
14999             STEM        >20        50-99              Pvt Ltd

      last_new_job  training_hours  target
10000        never              63     0.0
10001        never              10     0.0
10002        never              46     0.0
10003            1              18     0.0
10004            1              55     0.0
...            ...             ...     ...
14995            1              37     0.0
14996            3              39     0.0
14997            2              85     1.0
14998           >4               4     0.0
14999            1              14     0.0

[5000 rows x 14 columns]
       enrollee_id      city  city_development_index gender  \
15000         6178  city_103                   0.920    NaN
15001        27557   city_75                   0.939   Male
15002        27751  city_160                   0.920   Male
15003        11186  city_103                   0.920   Male
15004         1600  city_150                   0.698   Male
...            ...       ...                     ...    ...
19153         7386  city_173                   0.878   Male
19154        31398  city_103                   0.920   Male
19155        24576  city_103                   0.920   Male
19156         5756   city_65                   0.802   Male
19157        23834   city_67                   0.855    NaN

           relevent_experience enrolled_university education_level  \
15000  Has relevent experience       no_enrollment        Graduate
15001  Has relevent experience       no_enrollment        Graduate
15002  Has relevent experience       no_enrollment        Graduate
15003   No relevent experience       no_enrollment        Graduate
15004  Has relevent experience       no_enrollment        Graduate
...                        ...                 ...             ...
19153   No relevent experience       no_enrollment        Graduate
19154  Has relevent experience       no_enrollment        Graduate
19155  Has relevent experience       no_enrollment        Graduate
19156  Has relevent experience       no_enrollment     High School
19157   No relevent experience       no_enrollment  Primary School

      major_discipline experience company_size    company_type last_new_job  \
15000             Arts          2        50-99  Funded Startup            1
15001             STEM          6          NaN   Public Sector            1
15002             STEM          9        50-99         Pvt Ltd            1
15003             STEM         15          NaN             NaN           >4
15004             STEM         10          <10         Pvt Ltd            1
...                ...        ...          ...             ...          ...
19153       Humanities         14          NaN             NaN            1
19154             STEM         14          NaN             NaN            4
19155             STEM        >20        50-99         Pvt Ltd            4
19156              NaN         <1      500-999         Pvt Ltd            2
19157              NaN          2          NaN             NaN            1

       training_hours  target
15000              51     0.0
15001              12     1.0
15002               9     0.0
15003             156     0.0
15004              14     0.0
...               ...     ...
19153              42     1.0
19154              52     1.0
19155              44     0.0
19156              97     0.0
19157             127     0.0

[4158 rows x 14 columns]

**JSON : JavaScript Object Notation**

In [79]:
pd.read_json('/content/drive/MyDrive/Colab Notebooks/Learning Machine Learning/US_STATE_recipes.json').head(10)

,0,1,2,3,4,5,6,7,8,9,...,3753,3754,3755,3756,3757,3758,3759,3760,3761,3762
Contient,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,...,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa,Africa
Country_State,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
cuisine,Missouri,Missouri,Missouri,Missouri,Missouri,Missouri,Missouri,Missouri,Missouri,Missouri,...,Montana,Montana,Montana,Montana,Montana,Montana,Montana,Montana,Montana,Montana
title,Ground Beef and Cabbage,Old Fashioned Peach Cobbler,St. Louis Toasted Ravioli,Amish Friendship Bread Starter,Simple Fried Morel Mushrooms,Big Al's K.C. Bar-B-Q Sauce,Lemon Zucchini Bread,Springfield Style Cashew Chicken I,Kansas City Ice Water,St. Louis Pork Steaks,...,The Humble Shepherd,Easy Slow Cooker Venison Stew,Fennel in Wine and Honey,Spinach and Goat Cheese Salad with Beetroot Vi...,Montana Russian Black Bread,Cracked Black Venison,Montana Spicy Bison Dip,Grandpa Mack's Fifth-Generation Pancake Recipe,Couscous with Dried Cherries,Jo's Mountain Mush
URL,https://www.allrecipes.com/recipe/229324/groun...,https://www.allrecipes.com/recipe/19897/old-fa...,https://www.allrecipes.com/recipe/16907/st-lou...,https://www.allrecipes.com/recipe/7063/amish-f...,https://www.allrecipes.com/recipe/220833/simpl...,https://www.allrecipes.com/recipe/44491/big-al...,https://www.allrecipes.com/recipe/58817/lemon-...,https://www.allrecipes.com/recipe/9009/springf...,https://www.allrecipes.com/recipe/51923/kansas...,https://www.allrecipes.com/recipe/73669/st-lou...,...,https://www.allrecipes.com/recipe/76519/the-hu...,https://www.allrecipes.com/recipe/32081/easy-s...,https://www.allrecipes.com/recipe/95546/fennel...,https://www.allrecipes.com/recipe/46492/spinac...,https://www.allrecipes.com/recipe/236547/monta...,https://www.allrecipes.com/recipe/18774/cracke...,https://www.allrecipes.com/recipe/256810/monta...,https://www.allrecipes.com/recipe/279565/grand...,https://www.allrecipes.com/recipe/18273/cousco...,https://www.allrecipes.com/recipe/21272/jos-mo...
rating,4.5,4.6,4.5,4.7,4.7,4.8,4.6,4.4,4.5,4.0,...,4.4,4.5,4.1,4.7,4.0,4.4,4.3,3.7,4.2,4.3
total_time,60,130,25,14440,30,35,60,35,2,35,...,80,490,60,30,215,70,25,25,20,25
prep_time,15,30,15,30,20,15,15,15,2,10,...,30,10,15,25,20,10,10,5,5,10
cook_time,45,70,10,None,10,20,45,20,None,25,...,50,480,45,5,45,60,15,20,10,15
description,This ground beef and cabbage recipe combines l...,This old-fashioned peach cobbler recipe featur...,Toasted ravioli traces its roots to St. Louis....,Amish friendship bread starter is made with ye...,"The rich, meaty flavor of fresh morel mushroom...",This is a Kansas City-style BBQ sauce recipe s...,Lemon zest adds a touch of summer to this swee...,Fried chicken is topped with an Asian-style mi...,Citrus flavors are blended with gin and vodka....,Grilled pork steaks are juicy and tender in th...,...,A twist on the original shepherd's pie using g...,An easy slow cooker stew made with venison and...,"A great side dish for fennel lovers, originall...",A beet vinaigrette is drizzled over baby spina...,"Black bread, made with dark beer, coffee, mola...","Tasty and spicy, this is a simple venison stea...",Kick off game day with this touchdown-worthy M...,This family-favorite pancake recipe has been s...,My family loves couscous and this fruity varia...,"A jumbled, filling breakfast created when I wa..."

**URL Data with JSON**

In [80]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR').head(10)

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,0.0430
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,0.8320
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,1.0200
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,4.5700
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,0.0210
AOA,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,10.9100
ARS,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,13.7400
AUD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,0.0183
AWG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-04-27,1745712001,0.0210